.font-regular-12-16 {
	font-family: sans-serif;
	font-size: 0.75rem;
	font-weight: normal;
	line-height: 1rem;
}

.font-regular-14-18 {
	font-family: sans-serif;
	font-size: 0.875rem;
	font-weight: normal;
	line-height: 1.125rem;
}

.font-regular-16-20 {
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.25rem;
}

.font-regular-30-34 {
	font-family: sans-serif;
	font-size: 1.875rem;
	font-weight: normal;
	line-height: 2.125rem;
}

.font-bold-14-18 {
	font-family: sans-serif;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 1.125rem;
}

.font-bold-20-24 {
	font-family: sans-serif;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.5rem;
}
